<!--
======================================
; Title: user-new.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 14 September 2023
; Last Updated: 14 September 2023
; Description: This code supports the HTML functionality for User View Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container-fluid pt-2">
  <h1 class="text-center">Welcome to the User View Page!</h1>

  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="updateUser()">
            <fieldset class="form-group">
              <legend>User Information</legend>

              <div class="mb-3">
                <label for="txtFirstName">First Name:</label>
                <input
                  type="text"
                  id="txtFirstName"
                  class="form-control"
                  formControlName="firstName"
                  required
                />
              </div>

              <!-- first name error handling -->
              <div
                *ngIf="
                  userForm.controls['firstName'].touched &&
                  userForm.controls['firstName'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  First name is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end first name error handling -->

              <div class="mb-3">
                <label for="txtLastName">Last Name:</label>
                <input
                  type="text"
                  id="txtLastName"
                  class="form-control"
                  formControlName="lastName"
                  required
                />
              </div>

              <!-- last name error handling -->
              <div
                *ngIf="
                  userForm.controls['lastName'].touched &&
                  userForm.controls['lastName'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  Last name is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end last name error handling -->

              <div class="mb-3">
                <label for="txtAddress">Address:</label>
                <input
                  type="text"
                  id="txtAddress"
                  class="form-control"
                  formControlName="address"
                  required
                />
              </div>

              <!-- address error handling -->
              <div
                *ngIf="
                  userForm.controls['address'].touched &&
                  userForm.controls['address'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  Address is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end address error handling -->

              <div class="mb-3">
                <label for="txtPhoneNumber">Phone Number:</label>
                <input
                  type="text"
                  id="txtPhoneNumber"
                  class="form-control"
                  formControlName="phoneNumber"
                  required
                />
              </div>

              <!-- phone number error handling -->
              <div
                *ngIf="
                  userForm.controls['phoneNumber'].touched &&
                  userForm.controls['phoneNumber'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  Phone Number is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end phone number error handling -->

              <div class="mb-3">
                <label for="role">Role:</label><br />
                <select
                  formControlName="role"
                  name="role"
                  id="role"
                  class="form-select-sm"
                >
                  <option value="standard">Standard</option>
                  <option value="admin">Admin</option>
                </select>
              </div>

              <!-- role error handling -->
              <div
                *ngIf="
                  userForm.controls['role'].touched &&
                  userForm.controls['role'].hasError('required')
                "
              >
                <div
                  class="alert alert-danger alert-dismissible fade show"
                  role="alert"
                >
                  Role is required.
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <!-- end role error handling -->

            </fieldset>

            <input
              type="submit"
              id="submit"
              [disabled]="!userForm.valid"
              value="Submit"
              class="btn btn-lg bg-dark text-white mx-auto d-block"
            />
          </form>
        </div>
      </div><br>
      <a routerLink="/admin/users" class="text-underline-hover text-dark"
        ><button mat-raised button class="btn bg-black font-yellow">Return To User List</button></a>
    </div>
  </div>
</div>
