<div class="container-fluid mt-6" style="min-height: 600px">

  <div class="row justify-content-center">

    <div class="col-md-4 mb-3">

      <div class="card border-0">

        <div class="card-body bg-black">

          <div class="d-flex flex-column align-items-center text-center">

            <div class="font-yellow">

             <h4> {{ profile.firstName}} {{profile.lastName}}</h4>

            </div>

            <div class="mt-3 font-yellow">
              <h4>{{ profile.phoneNumber }}</h4>
              <h4>{{ profile.address }} </h4>
            </div>

          </div>

        </div>
      </div>

    </div>


  </div><!--end of first row-->



</div> <!--end of container-->