  <!--
======================================
; Title: not-found.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 12 September 2023
; Last Updated: 12 September 2023
; Description: This code supports the HTML functionality for the Not Found Component
; Sources Used:
; Arman Azizpour Code Pen CSS Example, modified to fit styling requirements
https://codepen.io/arman_bag
;=====================================
-->

  <div id='oopss'>
    <div id='error-text'>
        <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
        <span>404 PAGE</span>
        <p class="p-a">
           The page you were looking for could not be found</p>
        <a routerLink="/home" class="back">Go Back Home</a>
    </div>
</div>




