<!--
======================================
; Title: nav.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 19 September 2023
; Last Updated: 19 September 2023
; Description: This code supports the HTML functionality for the FAQ Component
; Sources Used: Bellevue University WEB-450 GitHub
; MAT Expansion Panels: https://material.angular.io/components/expansion/overview
;=====================================
-->

<div class="row">
<br>
  <!--First Column-->
  <div class="col faq-padding-left"><br>
    <h2>Account How-To:</h2><br>

    <!--How To Register For A New Account-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registering A New Account
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Step 1</p>
      <p>Step 2</p>
      <p>Step 3</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>
    <!--How To Register For A New Account-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Resetting Password
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Step 1</p>
      <p>Step 2</p>
      <p>Step 3</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>




  </div>


    <!--Second Column-->
    <div class="col faq-padding-left"><br>
      <h2>Customer Service How-To:</h2><br>

      <!--Making an Invoice-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Making an Invoice
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Step 2</p>
        <p>Step 3</p>
        <p>Step 4</p>
      </mat-expansion-panel>
      <br>

      <!--Service Repair Request-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Making a Service Repair Request
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Step 1</p>
        <p>Step 2</p>
        <p>Step 3</p>
        <p>Step 4</p>
      </mat-expansion-panel>
      <br>

    </div>


    <!--Third Column-->
    <div class="col faq-padding-left faq-padding-right"><br>
      <h2>Administrator How-To:</h2><br>

      <!--How To Register For A New Account-->
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Adding a User
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p><b>Step 1:</b> Navigate to the Users List page - the link is located under the profile icon when you are signed in as an Administrator.</p>
      <img src="./assets/addstep1.png" width="50%" alt="image showing where the Employees link is"><br><br>
      <p><b>Step 2:</b>On the User List Page, click the "Add A New User" button. This will bring you to the User Creation Page.</p>
      <img src="./assets/addstep2.png" width="50%" alt="image showing where the Add A New User button is">
      <p><b>Step 3:</b>On the User Creation Page, fill out the form with the New User's Information. Note: Ensure all fields are filled out and in the proper format or you will receive an error. The submit button will not be active until all fields are filled in and have zero errors.</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>

      <!--Editing a User-->
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Editing a User
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Step 1</p>
      <p>Step 2</p>
      <p>Step 3</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>

      <!--Disabling a User-->
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Disabling a User
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Step 1</p>
      <p>Step 2</p>
      <p>Step 3</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>

      <!--Viewing Purchases By Service-->
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Viewing Purchases By Service
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Step 1</p>
      <p>Step 2</p>
      <p>Step 3</p>
      <p>Step 4</p>
    </mat-expansion-panel>
    <br>

    </div>





</div>
