/*
======================================
; Title: verify-security-questions.component.css
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 21 September 2023
; Last Updated: 21 September 2023
; Description: This code supports styling for the Verify Security Questions Component
; Sources Used: N/A
;=====================================
*/

.font-yellow {
  color: #FFD800;
}

.bg-black {
  background-color: #000;
}

.bg-potter-yellow {
  background-color: #FFD800;
}