<!--
======================================
; Title: profile-success.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 30 September 2023
; Last Updated: 30 September 2023
; Description: This code supports the HTML functionality for the Profile Success Dialog Component
; Sources Used: N/A
;=====================================
-->
<div class="container bg-potter-yellow text-black">

  <h2 mat-dialog-title>Success!</h2>

<mat-dialog-content>

<p> Your profile was updated successfully! </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="bg-black font-yellow" (click)="close()">Close</button><br><br><br>
</mat-dialog-actions>

</div> <!--end of container-->

