<!--
======================================
; Title: user-new.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 14 September 2023
; Last Updated: 03 October 2023
; Description: This code supports the HTML functionality for the New User Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container-fluid pt-2">

  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">

      <div class="text-center"><img src="./assets/user-create-logo.png" width="80%" alt="Logo displaying a computer with text next to it that says User Creation - Enter The Info To Create A User"></div><hr>

      <div *ngIf="errorMessage">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errorMessage }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <div class="card">
        <div class="card-body bg-black font-yellow">
          <form [formGroup]="userForm" (ngSubmit)="createUser();">

            <fieldset class="form-group">
              <legend>Enter User Information Here:</legend><br><br>

              <div class="mb-3">
                <label for="txtFirstName">First Name:</label>
                <input type="text" id="txtFirstName" class="form-control bg-potter-yellow" formControlName="firstName" required>
              </div>

              <!-- first name error handling -->
              <div *ngIf="userForm.controls['firstName'].touched && userForm.controls['firstName'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  First name is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end first name error handling -->

              <div class="mb-3">
                <label for="txtLastName">Last Name:</label>
                <input type="text" id="txtLastName" class="form-control bg-potter-yellow" formControlName="lastName" required>
              </div>

              <!-- last name error handling -->
              <div *ngIf="userForm.controls['lastName'].touched && userForm.controls['lastName'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Last name is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end last name error handling -->

              <div class="mb-3">
                <label for="txtAddress">Address:</label>
                <input type="text" id="txtAddress" class="form-control bg-potter-yellow" formControlName="address" required>
              </div>

              <!-- address error handling -->
              <div *ngIf="userForm.controls['address'].touched && userForm.controls['address'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Address is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end address error handling -->

              <div class="mb-3">
                <label for="txtPhoneNumber">Phone Number:</label>
                <input type="text" id="txtPhoneNumber" placeholder="format: 555-111-5555 or 5551115555" class="form-control bg-potter-yellow" formControlName="phoneNumber" required>
              </div>

              <!-- phone number error handling -->
              <div *ngIf="userForm.controls['phoneNumber'].touched && userForm.controls['phoneNumber'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Phone Number is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>

              <div *ngIf="userForm.controls['phoneNumber'].touched && userForm.controls['phoneNumber'].hasError('pattern')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Phone Number must not contain any letters and must be in format: 555-111-5555 or 5551115555
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end phone number error handling -->

              <div class="mb-3">
                <label for="txtEmail">Email:</label>
                <input type="text" id="txtEmail" class="form-control bg-potter-yellow" formControlName="email" required>
              </div>

              <!-- email error handling -->
              <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Email is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>

              <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].hasError('email')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Please enter a valid email address.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!--end email error handling-->

              <div class="mb-3">
                <label for="txtPassword">Password:</label>
                <input type="password" id="txtPassword" class="form-control bg-potter-yellow" formControlName="password" required>
              </div>

              <!-- password error handling -->
              <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Password is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>

              <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].hasError('pattern')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  The password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end password error handling -->

              <div class="mb-3">
                <label for="role">Role:</label><br />
                <select formControlName="role" name="role" id="role" class="form-select-sm bg-potter-yellow">
                  <option value="standard">Standard</option>
                  <option value="admin">Admin</option>
                </select>
              </div>

              <!-- role error handling -->
              <div *ngIf="userForm.controls['role'].touched && userForm.controls['role'].hasError('required')">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  Role is required.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              <!-- end role error handling -->

            </fieldset>

            <input type="submit" id="submit" value="Submit" [disabled]="!userForm.valid" class="btn btn-lg bg-potter-yellow text-black d-block mx-auto extra-width">
          </form>
        </div>
      </div><br>
      <a routerLink="/admin/users"><button mat-raised-button class="btn bg-black font-yellow">Return to User List</button></a>
      <!--Puts some space between footer and the bottom of the form-->
      <br><br><br><br>
      <br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
