<!--
======================================
; Title: invoice-view.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 27 September 2023
; Last Updated: 27 September 2023
; Description: This code supports the HTML functionality for Invoice View Component
; Sources Used: N/A
;=====================================
-->

<div class="container-fluid pt-2">
  <div class="row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <button class="text-right btn hide-print" onclick="window.print()"><span class="material-icons text-secondary">print</span></button>
          <h2 class="text-center">Bob's Computer Repair Shop</h2>
          <p class="text-center smaller">1 Bellevue Avenue Bellevue, Nebraska 68005</p>
          <p class="text-center smaller">phone: 555-555-5555, email:<a href="mailto:bob@bcrs.com">bob@bcrs.com</a></p>
          <h3 class="text-center">Service Invoice</h3><br><br>
        <div>

        <!--First Row-->
        <div class="row">
          <div class="col-lg-12">
            <table class="invoice-table">
              <tr>
                <th class="text-left">Invoice Number:</th>
                <th class="text-left">Order Date:</th>
                <th class="text-left">Customer Name:</th>
                <th class="text-left">Customer Email:</th>
              </tr>
              <tr>
                <td>{{ id }}</td>
                <td>{{ invoice.orderDate | date }}</td>
                <td>{{ invoice.fullName }}</td>
                <td>{{ invoice.email }}
              </tr>

            </table>
             <br><br><br>
          </div>

        </div>
        <!--End of First Row-->

        <!--Second Row-->
        <div class="row">
          <div class="col-6">
            <b><u>Services Purchased:</u></b><br>
            <ol>
              <!-- Use *ngFor to iterate over lineItems and display each item -->
              <li *ngFor="let item of invoice.lineItems">{{ item.name }}: {{ item.price | currency }}<br></li>
              <li *ngIf="invoice.lineItems.length === 0">None</li>
            </ol>
          </div>

          <div class="col-6">
            <b><u>Invoice Cost Breakdown:</u></b> <br>
            Purchased Services Total: {{ invoice.lineItemTotal | currency }}<br>
            Custom Work Parts Cost: {{ invoice.partsAmount | currency }}<br>
            Custom Work Labor Cost: {{ invoice.laborAmount | currency }} <br>


          </div>

        </div>
        <!--End of Second Row-->

        <div class="row">

          <div class="col-lg-8"><br>
            <table class="invoice-table">
              <tr>
                <td><h3>Total Invoice Cost:</h3></td>
                <td><h3>{{ invoice.invoiceTotal | currency }}</h3></td>
              </tr>
            </table>
          </div>


        </div>







        </div>
      </div><br><br><br>

    </div><br>
    <a routerLink="/invoice-list"><button class="btn bg-black font-yellow hide-print">Return To Invoices List</button></a><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>

