<!--
======================================
; Title: footer.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 07 September 2023
; Last Updated: 07 September 2023
; Description: This code supports the HTML functionality for the Footer Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->


<footer class="mt-5 footer text-center bg-potter-black p-5 font-yellow">
  <div class="container p-1 font-yellow fst-italic">
      <p class="font-yellow">
          &copy; Copyright 2023. All Rights Reserved.
      </p>
      <p>
          <a href="mailto:support@bob.com.com" target="_blank" class="font-yellow text-underline-hover">support@bob.com</a>
          </p>
          <a href="https://www.facebook.com/bcrs" target="_blank">
              <img src="./assets/facebook-logo.png" alt="black and white Facebook logo" class="pe-4">
          </a>

          <a href="https://www.twitter.com/bcrs" target="_blank">
              <img src="./assets/twitter-logo.png" alt="black and white Twitter logo" class="pe-4">
          </a>



  </div>

</footer>