<!--
======================================
; Title: directory.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 22 September 2023
; Last Updated: 22 September 2023
; Description: This code supports the HTML functionality for the Directory Component
; Sources Used: N/A
;=====================================
-->


<div class="container-fluid mt-2 directory-width">

<h2 class="text-center text-black">Meet The Team</h2><br>


<!--First Row-->
<div class="row">

      <!--First Person-->
      <div class="col-md-4">
      <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
      <h4>Bob Smith</h4>
      <h5>Founder</h5>
      <h6><i>"Those patient Hufflepuffs are true and unafraid of toil."</i></h6><br>
      <h6>Bob has owned Bob's Computer Repair Shop for over 20 years. </h6>
      <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
      </div>

      <!--Second Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/1.jpg" width="40%" alt="woman wearing a coat"><br>
        <h4>Alice Crognan</h4>
        <h5>Store Manager</h5>
        <h6><i>"Do what is nice."</i></h6>
        <h6>Alice has been at the store for over 5 years. She has a Bachelor's Degree in Management from Bellevue University and is working towards an MBA. In her spare time, she likes to run and travel.</h6><br>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/woman-wearing-coat-762020/" target="_blank">Pexels</a></i></h6>
        </div>
      <!--Third Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/2.jpg" width="40%" alt="portrait photo of a man2"><br>
        <h4>Bob Smith</h4>
        <h5>Founder</h5>
        <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/portrait-photo-of-man-1722198/" target="_blank">Pexels</a></i></h6>
        </div>



</div>
<!--End of First Row-->

<br><br>
<!--Second Row-->
<div class="row">
  <div class="col-md-4">
    <img class="rounded" src="./assets/3.jpg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
    <h4>Bob Smith</h4>
    <h5>Founder</h5>
    <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
    <h6><i>Source: <a href="https://www.pexels.com/photo/man-wearing-maroon-collared-shirt-1445527/" target="_blank">Pexels</a></i></h6>
    </div>

    <div class="col-md-4">
      <img class="rounded" src="./assets/4.jpg" width="40%" alt="portrait photo of woman wearing white top"><br>
      <h4>Bob Smith</h4>
      <h5>Founder</h5>
      <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
      <h6><i>Source: <a href="https://www.pexels.com/photo/portrait-photo-of-woman-wearing-white-top-1651873/" target="_blank">Pexels</a></i></h6>
      </div>

      <div class="col-md-4">
        <img class="rounded" src="./assets/5.jpg" width="40%" alt="portrait of a woman smiling"><br>
        <h4>Bob Smith</h4>
        <h5>Founder</h5>
        <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/portrait-photo-of-woman-smiling-2362887/" target="_blank">Pexels</a></i></h6>
        </div>






</div>




</div> <!--End of Div Container-->