<div class="container-fluid mt-2 directory-width">

<h2 class="text-center text-black">Meet The Team</h2><br>


<!--First Row-->
<div class="row">

      <!--First Person-->
      <div class="col-md-4">
      <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
      <h4>Bob Smith</h4>
      <h5>Founder</h5>
      <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
      <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
      </div>

      <!--Second Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
        <h4>Bob Smith</h4>
        <h5>Founder</h5>
        <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
        </div>
      <!--Third Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/katie.jpg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
        <h4>Bob Smith</h4>
        <h5>Founder</h5>
        <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
        </div>



</div>
<!--End of First Row-->

<br><br>
<!--Second Row-->
<div class="row">
  <div class="col-md-4">
    <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
    <h4>Bob Smith</h4>
    <h5>Founder</h5>
    <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
    <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
    </div>

    <div class="col-md-4">
      <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
      <h4>Bob Smith</h4>
      <h5>Founder</h5>
      <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
      <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
      </div>

      <div class="col-md-4">
        <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
        <h4>Bob Smith</h4>
        <h5>Founder</h5>
        <h6>Bob has owned Bob's Computer Repair Shop for over 20 years.</h6>
        <h6><i>Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></i></h6>
        </div>






</div>




</div> <!--End of Div Container-->