<!--
======================================
; Title: directory.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 22 September 2023
; Last Updated: 22 September 2023
; Description: This code supports the HTML functionality for the Directory Component
; Sources Used: N/A
;=====================================
-->


<div class="container-fluid mt-2 directory-width">

<h2 class="text-center text-black">Meet The Team</h2><br>


<!--First Row-->
<div class="row">

      <!--First Person-->
      <div class="col-md-4">
      <img class="rounded" src="./assets/bob.jpeg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
      <h3>Bob Smith</h3>
      <h5>Founder</h5>
      <h6><i>"Those patient Hufflepuffs are true and unafraid of toil."</i></h6><br>
      <h6>Bob has owned Bob's Computer Repair Shop for over 20 years. He has lived in the area his entire life and enjoys being of service to the community.</h6><br>
      <h6 class="source">Image Source: <a href="https://www.pexels.com/photo/positive-senior-man-in-eyeglasses-showing-thumbs-up-and-looking-at-camera-3824771/" target="_blank">Pexels</a></h6>
      </div>

      <!--Second Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/1.jpg" width="40%" alt="woman wearing a coat"><br>
        <h3>Alice Crognan</h3>
        <h5>Store Manager</h5>
        <h6><i>"Do what is nice."</i></h6><br>
        <h6>Alice has been at the store for over 5 years. She has a Bachelor's Degree in Management from Bellevue University and is working towards an MBA. In her spare time, she likes to run and travel.</h6><br>
        <h6 class="source">Image Source: <a href="https://www.pexels.com/photo/woman-wearing-coat-762020/" target="_blank">Pexels</a></h6>
        </div>

      <!--Third Person-->
      <div class="col-md-4">
        <img class="rounded" src="./assets/2.jpg" width="40%" alt="portrait photo of a man2"><br>
        <h4>Rob Johnson</h4>
        <h5>Service Manager</h5>
        <h6><i>"I'll teach the lot, and treat them just the same"</i></h6><br>
        <h6>Rob has been at the store for 6 years and has served as the service manager for the last 12 months. In his spare time, he enjoys discovering new music and playing video games.</h6><br><br>
        <h6 class="source">Image Source: <a href="https://www.pexels.com/photo/portrait-photo-of-man-1722198/" target="_blank">Pexels</a></h6>
        </div>



</div>
<!--End of First Row-->

<br><hr><br>
<!--Second Row-->
<div class="row">
  <div class="col-md-4">
    <img class="rounded" src="./assets/3.jpg" width="40%" alt="picture of a positive senior man in eyeglasses showing thumbs up and looking at the camera"><br>
    <h4>Cody Pomeray</h4>
    <h5>Senior Service Technician</h5>
    <h6><i>"There was nowhere to go but everywhere, so just keep on rolling under the stars."</i></h6><br>
    <h6>Cody has been at the store for 2 years in the service department. He has a Bachelor's Degree in Computer Science from the University of Nebraska. In his spare</h6><br>
    <h6 class="source"><i>Image Source: <a href="https://www.pexels.com/photo/man-wearing-maroon-collared-shirt-1445527/" target="_blank">Pexels</a></i></h6>
    </div>

    <div class="col-md-4 padding-left">
      <img class="rounded" src="./assets/4.jpg" width="40%" alt="portrait photo of woman wearing white top"><br>
      <h4>Bridget von Hammersmark</h4>
      <h5>Customer Service Specialist</h5>
      <h6><i>"They didn't want to show off, they weren't being reckless, that's the essence of Hufflepuff."</i></h6><br>
      <h6>Bridget has been at the store for 4 years and specializes in providing excellent customer service. In her spare time she enjoys painting and doing improv.</h6><br>
      <h6 class="source"><i>Image Source: <a href="https://www.pexels.com/photo/portrait-photo-of-woman-wearing-white-top-1651873/" target="_blank">Pexels</a></i></h6>
      </div>

      <div class="col-md-4">
        <img class="rounded" src="./assets/5.jpg" width="40%" alt="portrait of a woman smiling"><br>
        <h4>Alana Kriegley</h4>
        <h5>Service Technician</h5>
        <h6><i>"Only the gentle are ever really strong."</i></h6><br>
        <h6>Alana has been at the store for just over six months and comes to us from the Best Buy Geek Squad in Lincoln, NE. In her spare time, she enjoys building computers and playing Civilization V.</h6><br>
        <h6 class="source"><i>Image Source: <a href="https://www.pexels.com/photo/portrait-photo-of-woman-smiling-2362887/" target="_blank">Pexels</a></i></h6>
        </div>





</div>



<br><br><br><br><br><br><br><br><br>
</div> <!--End of Div Container-->