a {
  color: black;
}

.bg-potter-yellow {
  background-color: #FFD800;
}

.font-yellow {
  color: #FFD800;
}

.directory-width {
  width: 60%;
}

.source {
  font-size: small;
  font-style: italic;
}