<!--
======================================
; Title: reset-password.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 19 September 2023
; Last Updated: 26 September 2023
; Description: This code supports the HTML functionality for the Reset Password Component
; Sources Used: Bellevue University WEB-450 Coding Sessions
;=====================================
-->

<div class="contianer mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8 col-md-10">
      <div class="card-shadow p-4 bg-black">

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="form row g-3">

          <div *ngIf="errorMessage" class="row">
            <div class="col-12">
              <div class="alert alert-danger">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <fieldset class="mb-3 form-group">
            <legend class="font-yellow">Enter Your New Password</legend>

            <div class="row">
              <div class="col-md-12">
                <input type="password" formControlName="password" class="form-control bg-potter-yellow">

                <!--validation errors-->
                <div class="alert alert-danger mt-2" *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
                  Password is required.
                </div>

                <div *ngIf="changePasswordForm.controls['password'].hasError('pattern')" class="font-yellow">
                  Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, and one number.
                </div>
              </div>
            </div>
          </fieldset>
          <div class="col-md-6">
            <button type="submit" id="submit" [disabled]="!changePasswordForm.valid" value="Change Password" class="btn bg-potter-yellow text-black">
              <span *ngIf="!isLoading">Change Password</span>
              <div *ngIf="isLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
              </div>
            </button>
          </div>
        </form>
      </div><br>
      <a routerLink="/" class="text-underline-hover"><button mat-raised button class="btn bg-black font-yellow">Go Back</button></a>
    </div>
  </div>
</div>