<!--
======================================
; Title: home.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 07 September 2023
; Last Updated: 07 September 2023
; Description: This code supports the HTML functionality for the Home Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container-fluid bg-potter-yellow">
  <div class="row">
    <div class="col">
      <h1>Welcome! <span class="material-icons">thumb_up</span></h1>
    </div>
  </div>

</div>


