<!--
======================================
; Title: graph.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 27 September 2023
; Last Updated: 29 September 2023
; Description: This code supports the HTML functionality for the Graph Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container">
  <div class="text-center bg-potter-yellow"><img src="./assets/graph-logo.png" width="75%" alt="Logo displaying a computer with text next to it that says Service Graph - Data About Purchases By Service"></div><hr>

  <div class="chart-container chart"><br>
    <canvas id="myPieChart"></canvas>
  </div>
  <!--Space between the footer and the bottom of the div-->
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
</div>
