<!--
======================================
; Title: graph.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 27 September 2023
; Last Updated: 29 September 2023
; Description: This code supports the HTML functionality for the Graph Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<div class="container">
  <h2>Purchases by Services Chart</h2>

  <div class="chart-container chart">
    <canvas id="myPieChart"></canvas>
  </div>
</div>
