/*
======================================
; Title: register.component.css
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 20 September 2023
; Last Updated: 20 September 2023
; Description: This code supports styling for the Register Component
; Sources Used: N/A
;=====================================
*/

.font-yellow {
  color: #FFD800;
}

.bg-potter-yellow {
  background-color: #FFD800;
}

.bg-black {
  background-color: #000;
}