<!--
======================================
; Title: base-layout.component.html
; Author: Chris Gorham, Shane Hingtgen
; Date Created: 07 September 2023
; Last Updated: 07 September 2023
; Description: This code supports the HTML functionality for the Base Layout Component
; Sources Used: Bellevue University WEB-450 GitHub
;=====================================
-->

<app-nav></app-nav> <!-- website navbar -->

<main>
  <!-- The router outlet is where the different child components of the BaseLayout are rendered.  -->
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer> <!-- website footer -->